<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ansio</title>
        <meta name="description" content="Create your CV at ease.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="">
        <style>
            .badge-primary:hover {
                background-color: red !important;
                background: red !important;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-5">
                    <form action="/" method="POST">
                        <h1>Create a new CV</h1>
                        <hr>
                        <br>
                        <h3>About me</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fullName"  placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="bioText" rows="4" aria-describedby="bioHelp" placeholder="A short introduction into myself"></textarea>
                            <small id="bioHelp" class="form-text text-muted">Writing a short bio is recommended.</small>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="showBio" checked onclick="updateBioStatus()">
                            <label class="form-check-label" for="showBio">Show bio on CV</label>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <input type="email" class="form-control" id="emailAddress"  placeholder="Email">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="phoneNumber"  placeholder="Telephone">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="streetAddress"  placeholder="Sreet and house number">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="zipCode"  placeholder="Postal code">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="cityName"  placeholder="City">
                                </div>
                                <div class="col-6">
                                    
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h3>My skills</h3>
                        <div class="form-group">
                            <input onkeydown="listItem('skillarea', this)" class="form-control" id="skillInput" placeholder="Enter a skill and press Enter">
                            <small id="skillHelp" class="form-text text-muted">It's really important to list your key skills; whether learned at school or home.</small>
                            <div id="skillarea"></div>
                        </div>
                        <br>
                        <h3>My hobbies</h3>
                        <div class="form-group">
                            <input onkeydown="listItem('hobbyarea', this)" class="form-control" id="hobbyInput" placeholder="Enter a hobby and press Enter">
                            <small id="hobbyHelp" class="form-text text-muted">List your free time activities. These signal about you as a person.</small>
                            <div id="hobbyarea"></div>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="col-1">
                </div>
                <div class="col-6">
                    <a class="btn btn-primary" style="color:#ffffff;" onclick="submit()">Submit</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3 style="display:inline;">My experience</h3>
                    <a onclick="addExperience()" class="btn btn-success" style="color:#ffffff;display:inline;top:-4px;position:relative;margin-left:12px;">Add</a>
                    <br>
                    <br>
                    <div id="experience">
                    </div>
                    <br>
                    <br>
                    <h3 style="display:inline;">My education</h3>
                    <a onclick="addEducation()" class="btn btn-success" style="color:#ffffff;display:inline;top:-4px;position:relative;margin-left:12px;">Add</a>
                    <br>
                    <br>
                    <div id="education">
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <footer>
                <i>Ansio : Coded by @sjaks.</i>
            </footer>
        </div>
        <br>
        
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>